<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Run Chrome">
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="TestCases.ProductosTest">
            </class>
        </classes>
    </test>

    <test name="Run Firefox">
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="TestCases.ProductosTest">
            </class>
        </classes>
    </test>

    <test name="Run Edge">
        <parameter name="browser" value="EDGE"></parameter>
        <classes>
            <class name="TestCases.ProductosTest">
            </class>
        </classes>
    </test>

    <test name="Run Opera">
        <parameter name="browser" value="OPERA"></parameter>
        <classes>
            <class name="TestCases.ProductosTest">
            </class>
        </classes>
    </test>
</suite>